// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #f7be16;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #0c0f1d;
$blue: #293462;
$turquoised: #216583;
$turquoisel: #00818a;
$white: #f2f4fa;
