<div class="container">
  <h1>Your request</h1>

  <p>Description : <%= @service_request.description %></p>
  <p>Time : <%= @service_request.time_frame %></p>


  <p><%= link_to "Display all your requests", user_sent_requests_path, class: "btn-support" %></p>
</div>
