<h1>Your request</h1>

<p>Description : <%= @service_request.description %></p>
<p>Time : <%= @service_request.time_frame %></p>


<p><%= link_to "Display all your requests", service_service_requests_path(@service_request), class: "btn-support" %></p>
