<div class="container">

  <h1 class="text-center">The requests I sent</h1>
  <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
  <% @service_requests.each do |request| %>
    <div class="card-service">
      <div class ="card-service-user">
        <!-- TODO: LINK THE IMAGE OF THE CATEGORY + AVATAR CONSULTANT -->
        <img src="https://i.pinimg.com/originals/9b/da/05/9bda0525025ac46efd3a9ccdf54eda65.jpg" alt="">
      </div>
      <div class ="card-service-infos">
        <p><%= request.description %></p>
        <p><%= request.time_frame %></p>
        <p><%= link_to "Update", "#", class: 'btn-flat'%></p>
      </div>
    </div>
  <% end %>
  </div>
  <p><%= link_to "Back to all the services", services_path, class: 'btn-flat'%></p>
</div>
