.container {
 margin-top: 30px;
}
.container-categories {
  padding-bottom: 30px;
  background: rgba(33,101,131,0.1);
}

.card-service {
 overflow: hidden;
 // height: 120px;
 width: 300px;
 background: $white;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 margin: 20px;
 // display: flex;
 // align-items: center;
}

.card-service img {
 height: 200px;
 width: 100%;
 object-fit: cover;
}

.card-service h2 {
 font-size: 24px;
 font-weight: bold;
 margin: 10px;
}

.card-service h3 {
 font-size: 22px;
 font-weight: bold;
 margin: 10px;
}

.card-service p {
 font-size: 18px;
 font-weight: 300;
 line-height: 1.4;
 color: #52494C;
 margin-bottom: 0;
 margin-top: 8px;
 margin-left: 10px;
}

.card-service .btn-flat {
 width: 280px;
 display: flex;
 justify-content: center;
 margin-top: 20px;
 margin-bottom: 15px;
}

.card-category {
  // overflow: hidden;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  background: $white;
  position: relative;
}

.card-category-info {
  width: 100%;
  position: absolute;
  bottom: 5px;
  padding: 0px;
}

.card-category-info p {
  padding: 0;
}

.card-category:hover {
  text-decoration: none;
  background: rgba(33,101,131,0.1);
}

.card-category img {
  width: 70%;
  object-fit: cover;
  margin: 20px;
}

a:hover {
    text-decoration: none;
}

.categories-text {
  padding-top: 30px;
}

