.navbar-finconsult {
  justify-content: space-between;
  background: $turquoised;
  color: $white;
  padding: 20px 50px;
  display: flex;

}

.navbar-light .navbar-nav .nav-link  {
    align-items: center;
  color: $white;
  }

.navbar-light .navbar-nav .nav-link:hover  {
  color: $white;
  text-shadow: 1px 0 0 currentColor;
  }

.navbar-finconsult .navbar-collapse {
  flex-grow: 0;
}

.navbar-finconsult .navbar-brand img {
  width: 60px;
}
